
.app {
    margin: 0 40px;
}

.nav {
    margin: 0;
    list-style-type: none;
    background-color: #eff0f1;
}

.nav > li {
    display: inline-block;
    margin: 0 20px;
    padding: 20px 0;
}

.nav > li a {
    color: #2B91AF;
    font-size: 18px;
    text-decoration: none;
}
